<div class="container text-center py-5">
  <div class="jumbotron bg-light p-5 shadow-sm rounded">
    <h1 class="display-4">¡Bienvenido al Gestor de Microservicios</h1>
    <hr class="my-4">
    <p>Utiliza el menú lateral para administrar los datos de Escuelas, Estudiantes y Cursos de manera eficiente a través de nuestro <b>API Gateway</b>.</p>    
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card border-0">
          <div class="card-body">
            <h3>🏫</h3>
            <h5>Escuelas</h5>
            <p class="small text-muted">Gestión de centros educativos en Oracle.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-0">
          <div class="card-body">
            <h3>👨‍🎓</h3>
            <h5>Estudiantes</h5>
            <p class="small text-muted">Control de alumnos mediante MS-Estudiantes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-0">
          <div class="card-body">
            <h3>📚</h3>
            <h5>Cursos</h5>
            <p class="small text-muted">Oferta académica sincronizada vía Feign.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>