<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">ID del curso</label>
    <input type="number" disabled name="idCurso" class="form-control" [(ngModel)]="cursoEditar.idCurso" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="text"  name="nombreCurso" class="form-control" [(ngModel)]="cursoEditar.nombre" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label">Fecha de apertura</label>
    <input type="date"  name="fechaInicio" class="form-control" [(ngModel)]="cursoEditar.fechaInicio" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label">ID escuela para asignar</label>
    <input type="number" name="idEscuela"  class="form-control" [(ngModel)]="cursoEditar.idEscuela" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary" (click)="guardarCurso()">Editar</button>
</form>