<div class="container d-flex justify-content-between" > 
    <button type="button" (click)="abrirBuscarIdEscuela()" class="btn btn-outline-dark">Buscar Cursos por ID de Escuela</button>
    <button class="btn btn-outline-dark" (click)="AbrirAgregarCursos()" type="button">
      Agregar Curso
    </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">ID Escuela</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cursos">
      <td>{{c.nombre}}</td>
      <td>{{c.fechaInicio}}</td>
      <td>{{c.idEscuela}}</td>
      <td><button type="button" class="btn btn-outline-dark" (click)="abrirEditarCursos(c)"><img src="/assets/icons/edit.svg" alt="Editar"></button></td>
      <td><button type="button" class="btn btn-danger" (click)="eliminarCurso(c)"><span class="material-symbols-outlined">delete</span></button></td>
    </tr>
  </tbody>
</table>
